.footer{
    background-color: var(  --main-color );
   color: white;
}
.footer a{
    color: white  !important;
}

@media only screen and (max-width: 600px) {
    .x-sm{
        width: 33.33333%;
    }

}
