.HomeDashboard {
  display: flex;
  background-color: #0d3a5a;
  width: 100%;
  height: 850px;
}
.centerDash {
  position: absolute;
  left: 5%;
  top: 2%;
  width: 70%;
  min-height: 95vh;
  background-color: #f7f7f7;
}
@media (max-width: 990px) {
  .centerDash {
    width: 78%;
  }
}
